    <ul class="nav grid-container">
        <img src="../../../assets/images/choiz.svg" alt="choiz" >
        <div class="grid-container nav-item-container" >
        <li class="link grid-item"><a href="" class="link text-nav text">Tratamientos</a></li>
        <li class="link grid-item"><a href="#cunsultation" class="link text-nav text">Consulta Online</a></li>
        <li class="link grid-item"><a href="" class="link text-nav text">Quiénes somos</a></li>
        <li class="link grid-item" style="width: 180px;"><a href="#faqs" class="link text-nav text">Preguntas frecuentes</a></li>
        <li class="link grid-item"><a href="#footer" class="link text-nav text">contacto</a></li>
        <li class="link grid-item btn"><a href="" class="link text-nav text">¿Tenés dudas?</a></li>
    </div>
    </ul>