<div class="container" style="border-top: 1px solid lightgray;">
    <h2 class="subtitle">Lista de medicamentos</h2>
    <div>
        <table class="table-grid">
            <app-table-product class="table-content content1" [type]="'pills'" [products]="pills"></app-table-product>
            <app-table-product class="table-content content2" [type]="'rings'" [products]="rings"></app-table-product>
            <app-table-product class="table-content content3" [type]="'patches'" [products]="patches"></app-table-product>
        </table>
    </div>
</div>